# ======================
# .NET
# ======================
bin/
obj/
*.user
*.suo
*.pdb
*.dll
*.exe

# ======================
# Angular / Node
# ======================
node_modules/
.angular/
dist/
npm-debug.log*
yarn-error.log*
# ======================
# Visual Studio
# ======================
.vs/

# ======================
# Environment
# ======================
.env

# ======================
# OS
# ======================
.DS_Store
Thumbs.db



# Visual Studio
.vs/
bin/
obj/

# ASP.NET
*.user
*.suo

# Angular
node_modules/
.angular/
dist/

# Environment
.env

# OS
.DS_Store
Thumbs.db

